<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Tahoma:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link type="text/css" rel="stylesheet" href="/style.css" />
  </head>
    <body>
        <% if @session == nil %>
            <h1><a href='/login' class='button'>login</a></h1>
        <% else %>
            <h1><a href='/logout' class='button'>logout</a></h1>
        <% end %>
        <h1>Welcome to Makers BnB</h1>
    </body>
</html>