<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Tahoma:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link type="text/css" rel="stylesheet" href="/style.css" />
  </head>
  
    <% if @session == nil %>
      <a href='/login' class='log_button'>login</a>
    <% else %>
      <a href='/logout' class='log_button'>logout</a>
    <% end %>
    <a href='/spaces' class='log_button'>spaces</a>
    <a href='/account' class='log_button'>account</a>

  <div class="header">
  <h1>List a new space!</h1>
  </div>

  <form class="form__login" method="POST" action="/spaces">
    <div>
      <label for="name"></label>
      <input type="text" placeholder="Name" name="name" id="name" />
    </div>

    <div>
      <label for="description"><span style="font-weight:900">Description:</span> </label>
      <textarea name="description" placeholder="Description" id="description"></textarea>
    </div>

    <div>
      <label for="price"></label>
      <input type="text" placeholder="Price in £" name="price" id="price" />
    </div>

    <div>
      <label for="start_date"> </label>
      <input type="date" placeholder="Start date" name="start_date" id="start_date" />
    </div>

    <div>
      <label for="end_date"> </label>
      <input type="date" placeholder="end date" name="end_date" id="end_date" />
    </div>

    <div>
      <input type="hidden" name="user_id" value="<%=@session%>" />
    </div>

    <div>
      <input type="submit" class="input__signup"/>
    </div>
    <br /><a class="hyperlink" href="/spaces"><span style="font-weight:900">Return to spaces!</span> </a>
  </form>
</html>